<div class="container-fluid img-fluid">
 <div class="col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
  <div class="row no-gutters" style="padding-left: 15px; padding-right: 15px;">
    
  <div class="card w-50 mx-auto">
  <h1 class="text-dark">ポスト投稿フォーム</h1>
   
　　<%= form_with model: @post, local: true do |f| %>
　　 <div id="error_explanation">
  　　<% if @post.errors.any? %>
          <h3><%= @post.errors.count %> 件のエラーが出ました。</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
     </div>
　<div class="input-group mt-4 mb-3" style="padding-left: 15px; padding-right: 15px;">
  　<%= f.file_field :image, accept: "image/*", class: "text-dark"%>
  </div>
  <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>
            </div>
  　<%= f.text_field :title, placeholder: "タイトル" %>
  </div>
  　<%= f.text_area :body, class: "form-control", rows: '10', placeholder: "500文字まで" %>
  
  <span class="mx-auto p-5">
  　<%= f.submit '投稿', class: "btn btn-primary mt-4" %>
  　<%= link_to 'みんなのポストへ', posts_path, class: "btn  btn-info mt-4" %>
  </span>
  　<% end %>
    </div>
   </div>
  </div>
 </div>
</div>