<div class="container-fluid costam">
  <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <div class="mx-auto">
      <h1 class="text-white"><%= @section_title %></h1>
      <h1 class="text-white my-5">みんなのポスト</h1>
      <%= render "public/posts/search", post: @post %>
      <div class="new-post-link">
       <%= link_to new_post_path, class: "h3", method: :get  do %>
           <i class="fa-solid fa-plus fa-5x" style="color: #FFD43B;"></i>
           <% end %>
      </div>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="card w-50 mx-auto mt-4">
            <div class="posts-index-item">
              <div class="post-image-item">
                <div class="d-flex" style="padding: 5px;">
                  <div class="post-user-image">
                    <% if post.user %>
                      <%= link_to image_tag(post.user.get_profile_image, size: "50x50", class: "rounded-circle"), user_path(post.user_id) %>
                    <% end %>
                  </div>
                  <div class="line-height">
                    <span class="h5"><%= post.user.name %></span>
                  </div>
                </div>
              </div>
              <div class="post-main">
                <%= link_to image_tag(post.image_url, class: "card-img-top"), post_path(post.id) if post.image_url.present? %>
              </div>
              <p class="post-user-names h4">
                <span><%= post.title %></span>
              </p>
              <div class="posts-user-names">
                <%= truncate(post.body, length: 250, separator: ' ') do %>
                <%= link_to '続きを表示する', post_path(post.id) %>
               <% end %>
              </div>
              <br>
              <span class="post-time">
                <%= post.created_at.strftime('%Y-%m-%d %H:%M') %>
              </span>
              <span class="post-edit">
                <%= link_to "詳細", post_path(post.id) %>
              </span>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-white">検索結果がありません。</p>
      <% end %>
    </div>
  </div>
</div>
