<div class="container-fluid my-5 back-image">
  <div class="row">
    <div class="col-md-6 no-gutters">
      <h1 class="text-white">詳細ポスト</h1>
      <div class="card mt-4">
        <div class="posts-index-item">
          <div class="d-flex" style="padding: 5px;">
            <div class="posts-image-item">
              <% if @user.present? %>
                <%= link_to mypage_path(@user.id) do %>
                  <%= image_tag @post.user.get_profile_image, size: "50x50", class: "rounded-circle" %>
                <% end %>
              <% end %>
            </div>
            <div class="line-height">
              <span class="h5" style="text-align: center;"><%= @post.user.name %></span>
            </div>
          </div>

          <div class="post-main">
            <% if @post.image_url.present? %>
              <%= image_tag @post.image_url, class: "card-img-top" %>
            <% end %>
          </div>

          <div class="post-user-names h4">
            <span><%= @post.title %></span>
          </div>

          <div class="posts-user-names">
            <span><%= safe_join(@post.body.split("\n"), tag(:br)) %></span>
          </div>
          
          <br>
          <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %> 
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post.id) %> 
            <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %> 
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% flash.each do |message_type, message| %>
       <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <div id="error_explanation"> 
        <% if @comment.errors.any? %>
          <h3><%= @comment.errors.count %> 件のエラーが出ました。</h3>
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <h1 class="text-white">comment</h1>
      <table class="comment-form table table-hover table-inverse">
        <thead>
          <tr>
            <th>プロフ画像</th>
            <th>ユーザー名</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to user_path(comment.user) do %>
                  <%= image_tag comment.user.get_profile_image, size: "50x50" %>
                <% end %>
              </td>
              <td> <%= link_to comment.user.name, mypage_path(comment.user.id) %></td>
              <td><%= comment.body %></td>
              <% if comment.user_id == current_user.id %>
                <td><%= link_to "Destroy", post_comment_path(@post.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div>
        <p class="text-white">コメント件数：<%= @comments.count %></p>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :body, rows: '5', class: "form-control", placeholder: "コメントを書きましょう" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>