<%= form_with model: chat, local: true do |f| %>
 <div class="form-group">
  <%= f.label :グループ名, class:"text-dark" %>
  <%= f.text_field :name, class: 'form-control'%>
 </div>
 <div class="form-group">
  <%= f.label :紹介文, class:"text-dark"%>
  <%= f.text_area :introduction, class: 'form-control' %>
 </div>
 <div class="form-group">
  <%= f.label :グループ画像, class:"text-dark"%>
  <%= f.file_field :chat_image, class: "form-control-file text-dark", accept: "image/*" %>
 </div>

 <div class="form-group">
  <%= f.submit class: "btn btn-info" %>
 </div>
<% end %>
 