<div class="container-fluid back-ground">
  <%= flash[:notice] %>
  <div class="row">
    <%= render 'public/chats/user', chats: @chats, users: @users %>
    <div class="col-md-8 offset-md-1 px-5 px-sm-0 mx-auto">
      <h1 class="text-white"><%= @chat.name %></h1>
      <div class="group-show">
        <div class="show-group-chat-back">
          <span class="group-show-group-chat-back">
            <%= link_to '＜', chats_path, class: 'back-link' %>
          </span>
        </div>

        <div class="chat-group-show-talk text-white">
          <div id="chat-messages">
            <% if @chat.chat_messages.any? %>
              <% @chat.chat_messages.each do |message| %>
                <div>
                　<% if message.user %>
                 　<strong><%= message.user.name %>:</strong> <%= message.content %>
                  <% else%>
                  <% end %>
                </div>
              <% end %>
            　<% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
