<h1>ユーザー編集</h1>
<div id="error_explanation">
        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
</div>
<%= image_tag @user.get_profile_image, size: "100x100", class: "mt-3 rounded-circle"; %>
<%= form_with(model: @user, url: user_path, local: true) do |f| %>
  
  <%= f.label :名前 %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :プロフィール画像 %>
  <%= f.file_field :profile_image %>
  <br>
  <%= f.submit '更新' %>
<% end %>