
<div class="main posts-index">
  <div class="container-fluid my-5 bg01">
    <div class="row">
      <%= image_tag @user.get_profile_image, size: "100x100",  class: "rounded-circle"; %>
      <h1 class="text-white"><%= @user.name %>のマイページ</h1>
      <br>
      <br>
     <div class="user-profile">
      <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-secondary"%>
      <%= link_to '退会', user_path(@user), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
     </div>
    </div>
    
    <div class="row">
      <div class="col no-gutters mx-auto">
        <h2 class="text-white">自分のポスト</h2>
        <%= link_to "新規ポスト", new_post_path, class: "btn btn-primary" %> 
        <br>

        <% @posts.each do |post| %>
          <div class="card w-50 mx-auto mt-4 shadow-lg">
            <div class="posts-index-item">
              <div class="d-flex" style=" padding: 5px;">
                <div class="posts-image-item ">
                  <%= image_tag post.user.get_profile_image, size: "50x50", class: "rounded-circle"; %>
                </div>
                <div class="line-height h5" >
                  <span style="text-align: center;"><%= post.user.name %></span>
                </div>
              </div>
           
              <div class="post-main">
               <%= link_to post_path(post.id) do %>
                <% if post.image_url.present? %>
                  <%= image_tag post.image_url, class: "card-img-top" %>
                   <% else %>
                <% end %>
               <% end %>
              </div>

              <div class="post-user-names h4">
                <span><%= post.title %></span>
              </div>

              <div class="posts-user-names">
                <span><%= post.body %></span>
              </div>
              
              <br>
              <%= post.created_at.strftime('%Y-%m-%d %H:%M') %> <!-- 日付フォーマット -->
              <%= link_to "編集", edit_post_path(post.id) %> <!-- 編集リンク -->
              <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %> <!-- 削除リンク -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
