<h1>ポスト投稿フォーム</h1>
<div class="container">
  <div class="row">
  <div class="mx-auto">
  <%= render "shared/error_messages", resource: @post %>
<%= form_with model: @post, local: true do |f| %>
  <div>
  <%= f.label :写真 %><br>
  <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
  <%= f.label :題名 %><br>
  <%= f.text_field :title %>
  </div>
  <div class="post-text-item">
  <%= f.label :text, 'ポスト本文(250文字まで)' %><br>
  <%= f.text_area :body, :size => "100x20" %>
  </div>
  <div>
  <%= f.submit '投稿', class: "btn btn-dark"%>
  </div>
  
  <%= link_to 'みんなのポストへ', posts_path, class: "btn btn-primary" %>
  <% end %>
  </div>
 </div>
</div>