<h1 class="text-white">ポスト投稿フォーム</h1>
<div class="container">
  <div class="row">
  <div class="mx-auto">
  <%= render "shared/error_messages", resource: @post %>
<%= form_with model: @post, local: true do |f| %>
  <div>
  <%= f.label :写真, class: "text-white" %><br>
  <%= f.file_field :image, accept: "image/*", class: "text-white"%>
  </div>
  <div>
  <%= f.label :題名, class: "text-white" %><br>
  <%= f.text_field :title %>
  </div>
  <div class="post-text-item">
  <%= f.label :text, 'ポスト本文(500文字まで)', class: "text-white" %><br>
  <%= f.text_area :body, :size => "100x20", class: "text-dark" %>
  </div>
  <span>
  <%= f.submit '投稿', class: "btn btn-primary"%>
  
  <%= link_to 'みんなのポストへ', posts_path, class: "btn btn-info" %>
  </span>
  <% end %>
  </div>
 </div>
</div>