<div class="container-fluid my-5 ">
 <div class="row">
   <div class="col-md-6 no-gutters ">
        <h1 class="text-white">詳細ポスト</h1>

        <div class="card mt-4">
            <div class="posts-index-item">
              <div class="d-flex" style="padding: 5px;">
                <div class="posts-image-item">
                <% if @user.present? %>
                 <%= link_to mypage_path(@user.id) do %>
                  <%= image_tag @post.user.get_profile_image, size: "50x50", class: "rounded-circle" %>
                 <% end %>
                 <% else%>
                <% end %>
                </div>
                <div class="line-height">
                  <span class="h5", style="text-align: center;"><%= @post.user.name %></span>
                </div>
              </div>

              <div class="post-main">
                  <% if @post.image_url.present? %>
                    <%= image_tag @post.image_url, class: "card-img-top" %>
                  <% end %>
              </div>

              <div class="post-user-names h4">
                <span><%= @post.title %></span>
              </div>

              <div class="posts-user-names">
                <span><%= safe_join(@post.body.split("\n"),tag(:br)) %></span>
              </div>
              
              <br>
              <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %> 
              <%= link_to "編集", edit_post_path(@post.id) %> 
              <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %> 
            </div>
        </div>
      </div>
      <div class="col-md-6">
       <h1 class= "text-white">comment</h1>
       
       
      </div>
    </div>
</div>