
<div class="main posts-index costam">
 <div class="container-fluid  bg01">
  <div class="row">
     <div class="col bg-white">
     <span class"user-status　">
      <%= image_tag @user.get_profile_image, size: "100x100",  class: "rounded-circle "; %>
       <span class="text-dark align-items-center h2"><%= @user.name %>のマイページ</span>
      <div class="user-profile">
       <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-secondary"%>
      <%= link_to '退会', user_path(@user), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
     </div>
     </span>
    </div>
  </div>
    
    <div class="row">
      <div class="col no-gutters mx-auto my-3">
       <div class="user-names mx-5">
        <h2 class="text-white">自分のポスト</h2>
         <div class="new-post-link">
          <%= link_to new_post_path, class: "h3", method: :get  do %>
            <i class="fa-solid fa-plus fa-3x" style="color: #FFD43B;"></i>
            <% end %>
         </div>
      </div>

        <% @posts.each do |post| %>
          <div class="card w-50 mx-auto mt-4">
            <div class="posts-index-item">
              <div class="d-flex" style=" padding: 5px;">
                <div class="posts-image-item ">
                  <%= image_tag post.user.get_profile_image, size: "50x50", class: "rounded-circle"; %>
                </div>
                <div class="line-height" >
                  <span class="h5", style="text-align: center;"><%= post.user.name %></span>
                </div>
              </div>
           
              <div class="post-main">
               <%= link_to post_path(post.id) do %>
                <% if post.image_url.present? %>
                  <%= image_tag post.image_url, class: "card-img-top" %>
                   <% else %>
                <% end %>
               <% end %>
              </div>

              <div class="post-user-names h4">
                <span><%= post.title %></span>
              </div>

              <div class="posts-user-names">
                <%= truncate( post.body, length: 250 ) do %>
                　<%= link_to '続きを表示する', post_path(post.id) %>
                <% end %>
              </div>
              
             <br>
              <%= post.created_at.strftime('%Y-%m-%d %H:%M') %> 
              <%= link_to "編集", edit_post_path(post.id) %> | <!-- 編集リンク -->
              <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %> <!-- 削除リンク -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
